.header{
	right:50px;
}


.maincontent {

	padding-top:20px;
	width:272px;
	margin-left:50%;
	margin-right:50%;
}

#searchbarinput{
	border-radius: 85px;
	position: relative;
	left: -180px;
	width: 620px;
	height: 50px;
	}
.mic{
	position: fixed;
	right: 520px;
}