body{
	font-family: Arial,sans-serif;
	font-size:13px;
}

.header{
		
		right:25px;
		padding: 10px;
		height: 2%;
}

.maincontent {
	position:fixed;
	padding-top:15%;
	width:80%;
	margin-left:40%;
	margin-right:40%;
}

#searchbarinput{
	border-radius: 85px;
	position: fixed;
	left: 25%;
	width: 58%;
	height: 5%;
	}
.mic{
	position: fixed;
	width: 4%;
	right: 18%;
}

button{
	background-color: #57574b;
	color: white;
	}

.maincontent #logo{
	float: center;
	width: 35%;
	
}

#btns{
	position:absolute;
	bottom:-30%;
	right:70%;
	}

.footer{
	position:fixed;
	bottom: 0px;
	color: #5f6368;
	width: 100%;
	background-color:#f2f2f2;
	font-family: Arial,sans-serif;
	font-size:13px;
	padding:1%
}

a:active{
	text-decoration:underline;
}

a:link{
	color: #57574b;
	text-decoration:none;
}

a:visited{
	text-decoration: none;
}

a{
	padding: 1.5%
}